@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap');

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  height: 100px;
  position: fixed;
  width: 93%;
}

.header .list {
  display: flex;
}

.header .list li {
  font-size: 20px;
  color: #909090;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 40px;
}

.main_section {
  display: flex;
}

.main_section .left {
  background: url(../images/bg/bg01.png) no-repeat center / cover;
  height: 100vh;
  width: 50%;
}

.main_section .right {
  padding-top: 100px;
  width: 50%;
}

.profile {
  padding: 20px;
  display: flex;
}

.profile_pic {
  width: 380px;
  height: 414px;
  background: tomato;
  margin: 0 40px;
}

.profile_txt {
  font-size: 22px;
  font-weight: 700;
  color: #737373;
}

.profile_txt p {
  margin-top: 30px;
  padding-right: 20px;
}

.my_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list_span span {
  width: 15px;
  height: 15px;
  display: block;
  background: #c4c4c4;
  border-radius: 50%;
}

.list_span .full {
  background: #6d6d6d;
}

.list_span .ps_span,
.ai_span,
.fg_span {
  display: flex;
  align-items: center;
}

.list_span span {
  margin: 40px 20px 0px;
}

.text {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.7;
  margin: 0 60px;
  padding-top: 50px;
  color: #737373;
  position: relative;
}

.contact {
  position: absolute;
  margin-top: 50px;
  text-transform: uppercase;
}

/* contact */

#modal .dismiss {
  position: absolute;
  font-size: 35px;
  color: #737373;
  top: 20px;
  right: 20px;
}

#modal {
  position: relative;
  display: flex;
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  background: #fff;
  width: 50%;
  height: 80vh;
  padding: 50px;
  margin: 0 auto;
}

#modal .content {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 460px;
  color: #777;
}

#modal .content h2 {
  font-size: 36px;
  font-weight: 700;
  color: #555;
  margin-bottom: 46px;
}

.gform {
  font-size: 18px;
  font-weight: bold;
}

.gform label {
  display: inline-block;
  padding-bottom: 10px;
}

.gform input,
.gform textarea {
  display: block;
  width: 90%;
  padding: 18px;
  font-size: 16px;
  margin-bottom: 30px;
  border: 2px solid #ddd;
  background: #ffff;
  outline: none;
  color: rgb(49, 49, 49);
  transition: background, border 0.5s;
}

.gform input::placeholder,
.gform textarea::placeholder {
  color: #777;
  transition: all 0.5s;
}

.gform input:focus,
.gform textarea:focus {
  border: 2px solid #fff;
  background: rgb(220, 238, 255);
}

.gform input:focus::placeholder,
.gform textarea:focus::placeholder {
  color: transparent;
}

.gform textarea {
  resize: vertical;
}

.btn {
  background: #555;
  color: #fff;
  padding: 12px 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* dimm, modal */
.dimm {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 10000;
}

.dimm i {
  font-size: 60px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dimm.active {
  display: block;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 300px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}

.modal.active {
  opacity: 1;
  pointer-events: initial;
}

.modal span {
  display: block;
  font-size: 60px;
}

.modal p {
  padding: 20px;
}
